@charset "utf-8";
/* CSS Document */
/* ------------------------------------------------------------------------ */

/*  Reset

/* ------------------------------------------------------------------------ */

.deco {
    position: absolute;
    z-index: 1;
}

.deco_bubble01 {
    width: 208px;
    height: 208px;
    background: rgba(227, 175, 203, 0.7);
    background-color: rgba(227, 175, 203, 0.7);
    top: 100px;
    left: 60px;
}
.deco_bubble02 {
    width: 120px;
    height: 120px;
    background: rgba(182, 203, 226, 0.7);
    background-color: rgba(182, 203, 226, 0.7);
    top: 250px;
    right: 50px;
}

.deco_bubble03 {
    width: 120px;
    height: 120px;
    background: rgba(182, 203, 226, 0.7);
    background-color: rgba(182, 203, 226, 0.7);
    top: 290px;
    left: 310px;
}

/*TOP*/

#area01{
  position: relative;
  height: calc(100vh - 90px);
  border: 10px solid rgba(227, 175, 203, 0.7);
  border-radius:5px; 
  box-sizing: border-box;
  margin: 45px;
}

#area01 .name_area{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;  
}
  #area01 .name_area h1{
    font-size: 7rem;
    letter-spacing: 10px;
    color: #FFF;
    text-shadow    : 
       1px  1px 0px #5b5b5b,
      -1px  1px 0px #5b5b5b,
       1px -1px 0px #5b5b5b,
      -1px -1px 0px #5b5b5b,
       1px  0px 0px #5b5b5b,
       0px  1px 0px #5b5b5b,
      -1px  0px 0px #5b5b5b,
       0px -1px 0px #5b5b5b;  
    }
  #area01 .name_area p{
    font-size: 2.4rem;
    color: #5b5b5b;
  }

