@charset "utf-8";
/* CSS Document */
/* ------------------------------------------------------------------------ */

/*  Reset

/* ------------------------------------------------------------------------ */

html {
	overflow-y	: scroll;
	height		: 100%;
	font-size	: 62.5%;
	-webkit-text-size-adjust: 100%;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,
pre,form,fieldset,p,blockquote {
	margin 	: 0;
	padding : 0;
}

fieldset {
	display	: inline;
}

address,caption,cite,code,dfn,em,strong,th,var {
	font-style : normal;
}

body/**/table {
	line-height	: 1.5;
}

q:before,
q:after {
	content : '';
}

object,embed {
	vertical-align : top;
}

hr,legend	{
	display : none;
}

h1,h2,h3,h4,h5,h6 {
	font-size : 100%;
}

img,abbr,acronym,fieldset {
	border : 0;
}

li {
	list-style-type : none;
}

img[usemap] {
	border		: none;
	height		: auto;
	max-width	: 100%;
	width		: auto;
}

img {
	border		: 0;
	max-width	: 100%;
}

i {
	padding	: 5px 5px 2px 0;
}

p {
	word-break: break-all;
}

/* Flexible Images */
img{
    max-width	: 100%;
    height		: auto;
    width /***/	: auto;
}

submit	{ -webkit-appearance : none;}

/* ------------------------------------------------------------------------ */

/*  Basic Style

/* ------------------------------------------------------------------------ */

body {
	margin		: 0;
	padding		: 0;
	height		: 100%;
	font-family:'Baloo Da 2', cursive,"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
	font-size	: 1.6rem;
	font-size	: 16px;
	line-height	: 1.5;
	text-align	: center;
	color		: #5b5b5b;
	-webkit-text-size-adjust	: 100%;
	font-smoothing	: auto;
}

#wrap{
	margin		: 0 auto;
	text-align	: center;
}

body > #wrap { height : auto;}


/* Link
--------------------------------------------------------------------------- */

.opacity a:hover img{
	opacity: 0.85;
}

a:link	{
	text-decoration	: none;
	color			: #00F;
}

a:visited	{
	text-decoration	: none;
	color			: #941D55;
}

a:hover	{
	text-decoration	: underline;
}

/* ------------------------------------------------------------------------ */

/* Hedaer

/* ------------------------------------------------------------------------ */

header {
	font-family: 'Baloo Da 2', cursive;
	font-size: 2.4rem;
	position: fixed;
	bottom: 60px;
	right: 60px;
	padding: 10px;
	z-index: 100;
  }
  
  #nav{
	text-align: left;
	background: rgba(255,255,255,0.8);
	padding: 20px;
  }

  #nav a{
	  color: #5a5a5a;
	  transition: 1s ease;
  }

  #nav a:hover{
	  text-decoration: none;
	  color: rgba(227, 175, 203, 1);
  }

  @media (max-width: 768px) {
	  header{
		  right: 0!important;
		  bottom: 0!important;
		  padding: 0!important;
		  width: 100%;
	  }

	  #nav{
		  display: flex;
		  flex-wrap: wrap;
		  justify-content: space-between;
		  width: 100%;
		  padding: 0!important;
		  box-sizing: border-box;
	  }

	  #nav li{
		  width: 49.5%;
		  text-align: center;
		  border: 1px solid;
	  }

	  #nav li:nth-child(2n){
		  border-left: none;
	  }

  }
  

/* ------------------------------------------------------------------------ */

/* Contents

/* ------------------------------------------------------------------------ */

#mainBlock {
	clear : both;
	overflow: hidden;
}

.sp_br{
	display: none;
}

@media (max-width: 768px) {
	.sp_br{
		display: block;
	}
	}

/* ------------------------------------------------------------------------ */

/* Footer

/* ------------------------------------------------------------------------ */

/*footer*/
footer{
	clear : both;
	background: rgba(227, 175, 203, 0.2);
	padding: 35px;
	}
	@media (max-width: 768px) {

		footer{
			padding-bottom: 100px;
		}

	}
